
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-purplefrom: #6220A3;
  --color-purpleto: #AD66F4; 
  --color-bgpurplefrom : #A65EEE;
  --color-bgpurpleto : #DBB5FF;
  --color-pinkfrom : #CE25FC;
  --color-pinkto : #F94098;
  --color-textfrom : #222222;
  --color-textto : #666666;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Urbanist', sans-serif;
}

button {
  font-family: 'Urbanist', sans-serif;
}
